<launch>
  <include file="$(find sr_logging_common)/launch/sr_rosbag_log.launch">
    <arg name="log_bag_prefix" value="sr_$(arg hand_id)and"/>
  </include>

  <!-- Set to true to spawn trajectory controllers for the hands(the trajectory controller overwrites continuously the joint position command, preventing direct control via topics-->
  <arg name="hand_trajectory" default="false"/>

  <!-- Set to true to spawn the position controllers for the hands-->
  <arg name="hand_ctrl" default="false"/>

  <!-- The control mode PWM (true) or torque (false) -->
  <!-- Set to true by default for now as torque control is not available yet -->
  <arg name="pwm_control" default="true"/>

  <node name="spawn_hand_pwm_controller"
       pkg="controller_manager" type="spawner" respawn="false" output="screen"
       args="--shutdown-timeout=1.0 sh_$(arg hand_id)_ffj0_effort_controller sh_$(arg hand_id)_ffj3_effort_controller sh_$(arg hand_id)_ffj4_effort_controller
       sh_$(arg hand_id)_mfj0_effort_controller sh_$(arg hand_id)_mfj3_effort_controller sh_$(arg hand_id)_mfj4_effort_controller sh_$(arg hand_id)_rfj0_effort_controller
       sh_$(arg hand_id)_rfj3_effort_controller sh_$(arg hand_id)_rfj4_effort_controller sh_$(arg hand_id)_lfj0_effort_controller sh_$(arg hand_id)_lfj3_effort_controller
       sh_$(arg hand_id)_lfj4_effort_controller sh_$(arg hand_id)_lfj5_effort_controller sh_$(arg hand_id)_thj1_effort_controller sh_$(arg hand_id)_thj2_effort_controller
       sh_$(arg hand_id)_thj3_effort_controller sh_$(arg hand_id)_thj4_effort_controller sh_$(arg hand_id)_thj5_effort_controller sh_$(arg hand_id)_wrj1_effort_controller
       sh_$(arg hand_id)_wrj2_effort_controller">
  </node>

  <include file="$(find sr_robot_launch)/launch/srhand.launch">
    <arg name="hand_trajectory" value="$(arg hand_trajectory)" />
    <arg name="hand_ctrl" value="$(arg hand_ctrl)" />
    <arg name="pwm_control" default="$(arg pwm_control)"/>
    <arg name="use_moveit" value="true"/>
    <arg name="sim" value="false"/>
  </include>

</launch>