<launch>
  <arg name="download" default="false"/>
  <arg name="upload" default="false"/>

  <arg name="hand_serial" default="2346"/>
  <arg name="test_date" default="2020-02-10"/>
  <arg name="test_time" default="15-53-32"/>

  <arg name="file_path" default="/home/user/sr_hand_health_reports"/>
  <arg name="folder_path" default="$(arg hand_serial)/health_report_results_$(arg test_date)_$(arg test_time)"/>
  <arg name="report_name" default="health_report_file.yml"/>
  <arg name="bag_name" default="health_report_bag_file.bag"/>
  <arg name="param_dump_file_name" default="param_dump.yaml"/>

  <node name="aws_manager_node" pkg="sr_hand_health_report" type="aws_manager.py" output="screen">
    <rosparam param="download" subst_value="True">$(arg download)</rosparam>
    <rosparam param="upload" subst_value="True">$(arg upload)</rosparam>
    <rosparam param="file_path" subst_value="True">$(arg file_path)</rosparam>
    <rosparam param="folder_path" subst_value="True">$(arg folder_path)</rosparam>
    <rosparam param="report_name" subst_value="True">$(arg report_name)</rosparam>
    <rosparam param="bag_name" subst_value="True">$(arg bag_name)</rosparam>
    <rosparam param="param_dump_file_name" subst_value="True">$(arg param_dump_file_name)</rosparam>
  </node>
</launch>
